
.bg-indigo-custom {
  background-color: #4b0082;
}

.bg-indigo-custom-a{
  background-color: #040007;
}

.bg-indigo-custom-b{
  background-color: #bed1ce96;
}

.text-indigo-custom {
  color: #4b0082;
  
}