
.bg-indigo-custom {
  background-color: #d3cecf;
}

.bg-indigo-custom-a{
  background-color: #9abea6;
}

.bg-indigo-custom-b{
  background-color: #bac0df96;
}

.bg-indigo-custom-c {
  background-color: #ede9f7;
}

.text-indigo-custom {
  color: #4b0082;
  
}

.knowledge-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .responsive-card {
    transform: scale(0.5); /* Ajusta el tamaño de la tarjeta para pantallas pequeñas */
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .responsive-card {
    transform: scale(0.8); /* Ajusta el tamaño de la tarjeta para pantallas medianas */
  }
}






