
.bg-indigo-custom {
  background-color: #d3cecf;
}

.bg-indigo-custom-a{
  background-color: #040007;
}

.bg-indigo-custom-b{
  background-color: #7f8ee496;
}

.bg-indigo-custom-c {
  background-color: #ede9f7;
}

.text-indigo-custom {
  color: #4b0082;
  
}